# Expenseura Environment Variables for production
# App Configuration Environment
NODE_ENV=development
PORT=your-port-value

# MongoDB Atlas Connection String
MONGODB_URI=your-mongo-atlas-url

# JWT Configuration
JWT_SECRET=reimburseflow_super_secret_jwt_key_2026_appwrite_theme
JWT_EXPIRES_IN=7d

# Cross-Origin Resource Sharing (CORS) Configuration
CORS_ORIGIN=your-localhost-or-domain-value
UPLOAD_DIR=uploads
